# //npm.pkg.github.com/:_authToken=192ba8af6a661d0cd311e9c9f4d44190a1b28db3
@novafuturltd:registry=https://npm.pkg.github.com 
//npm.pkg.github.com/:_authToken=$TOKEN
engine-strict=true
package-lock=false